<!DOCTYPE html>
<html>

<body>

    <section id="team-home" class="home">
       <h1 id="logoTitle" class="center">Weedr</h1>
       <p id="logoTag" class="center"><i>Got Weed? Get Busted.</i></p>
       <br/>
       <nav id="navBar" class="center">
           <a id="toHome" href="#team-home">HOME</a> |
           <a id="toAbout" href="#team-about">ABOUT</a> |
           <a id="toGraph" href="#team-graph">GRAPH</a>
       </nav>
    </section>


    <section id="team-about" class="about">
        <h3 class="center sectionTitles">Weedin' Out the Weed</h3><!-- unknown tag found here -->
        <br/>
        <p class="center">Sniffin out dat weed.</p>
    </section>

    <section id="team-graph" class="graph">
        <h3 class="center sectionTitles">Weed Data</h3>


        <center>Weed graph goes here!</center>

    </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<script src="./js/weed.js"></script>

</html>
