.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart rect {
  fill: steelblue;
}

.graph {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

g path:hover, g polygon:hover{
          fill: blue;
        }
		
g path.others:hover, g polygon.others:hover {
          fill: grey !important;
}

g path.other:hover, g polygon.other:hover {
          fill: grey !important;
}