.chart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart rect {
  fill: steelblue;
}

.graph {
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

g path:hover, g polygon:hover{
          fill: blue;
        }