@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Amaranth';
}

h1, h2, .center {
    text-align: center;
    font-style: normal;
    margin:0;
}

i {
    font-size: 30px;
    padding-bottom 20px;
    color:#FFF;
}

/* Wraps content for about */
.wrapper {
    overflow: auto;
    height: 100vh;
    width: 100vw;
}


/*------------------------------*/

/* GAUGE SECTION */
#fillgauge1{
    position: absolute;
    right: 38.5%;
}

#fillgauge2{
//    position: absolute;
}

#fillgauge3{
//    position: absolute;
}

#fillgauge4{
//    position: absolute;
}

#fillgauge5{
//    position: absolute;
}

/* Container for mainGauge */
.mainGauge {
    position: relative;
    height: 250px;
}

/* Container for miniGauge */
.miniGauge {
    position: relative;
    padding: 5% 0 0 0;
}

.miniGauge svg {
    padding: 0 0.5% 0 4.3%;
}

/* equal signs */
.miniGauge span {
    font-size: 5vw;
    color: #413639;
    line-height: 200px;
    height: 200px;
    position: absolute;
}


/*------------------------------*/

/* MODERATION PAGE */
.mod {
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    /*background-image: url("/img/mod.png");*/
    /* temporary border */
    border-top: solid;
    border-color: #413639;
    overflow: hidden;
    position: relative;
}
/*
.liquidFillGaugeText { 
	font-family: Helvetica; 
	font-weight: bold; 
}*/

.leftmod{
    height: 100%;
    width: 25%;
    min-width: 300px;
    background-color: #534947;
    color: white;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0px;
}
.rightmod{
    height: 100%;
    width: calc(75% + 40px);
    background-color: #daceb8;
    overflow: auto;
    position: absolute;
    top: 0px;
    right: -20px;
}

.modTitle1 {
    padding-top: 3%;
    font-size: 25px;
    color: #413639;
}

.modTitle2 {
    padding-bottom: 3%;
    font-size: 50px;
    color: #413639;
}

.modContainer {
    position: relative;
}

/* Position and center align gauge descriptions */
.modContainer div {
    width: 19%;
    float: left;
    text-align: center;
    padding: 0 0.5% 0 4.3%;
    font-size: 1.5em;
}

/*------------------------------*/

/* RISK PAGE */
.risk {
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/risk.png");
}

/*------------------------------*/

/* DANGER PAGE */
.danger {
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: tan;
}

.dangerGraph {
    height: calc(100vh - 56px);
    position:relative;
    float:right;
}

#dangerInfo {
    padding-top: 1%;
    width: 50%;
    left: 50%;
    float: left;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: 200;
}

.dangerTitle {
    position: relative;
    font-size: 2vw;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: 200;
    width: 50%;
}


/*------------------------------*/

/* ABOUT PAGE */
.about {
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/wood.png");
    overflow: hidden;
}

/* Position of about title */
.aboutTitle {
    position: relative;
    top:10%;
    font-size: 5vw;
    color: white;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

/* Position of second about title */
.aboutTitle2 {
    position: relative;
    top: 10%;
    font-size: 5vw;
    color: white;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

/* Description for title*/
.aboutTag {
    font-family: 'Open Sans';
    position: relative;
    top:15%;
    color: white;
    padding: 0px 30% 140px 30%;
    font-size: 20px;
}

/*------------------------------*/

/* HOME PAGE */
.home {
    height: 100vh;
    background-image: url("/img/grave.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*------------------------------*/

/* Position of nav bar */
#nav-bar-pos {
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #413639;
    margin: 0;
    padding: 0;
}

/* Position of nav bar contents */
.nav-bar {
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    width:100%;
}

/* remove default style within nav bar*/
.nav-bar li{
    list-style-type: none;
}

/* Contents within nav Bar */
.nav-bar li a {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav padding, font style */
.nav-bar li a:link {
    text-decoration: none;
    color:#FFF;
    padding-left: 2%;
    padding-right: 2%;
}

/* Hover nav bar tab */
.nav-bar li a:hover {
    color:#413639;
    background-color: #FFF;
}

/* Position left tabs */
.left-tab {
    float: left;
    font-family: 'Cherry Swash', cursive;
    font-size: 30px;
    width: calc(21% - 20px);
    text-align: center;
}

/* Position right tabs */
.right-tab {
    float: right;
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;
}

/* Home page title */
.logoTitle {
    position: relative;
    top: 30%;
    font-size: 10vw;
    color: white;
    font-family: 'Cherry Swash', cursive;
    font-style: normal;
    font-weight: 200;
    margin: 0;
}

/* Description for title*/
.logoTag {
    font-family: 'Cherry Swash', cursive;
    position: relative;
    top: 35%;
}
