@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(https://fonts.gstatic.com/s/robotoslab/v6/dazS1PrQQuCxC3iOAJFEJYlIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Amaranth';
}

h1, h2, .center {
    text-align: center;
    font-style: normal;
    margin:0;
}

i {
    font-size: 30px;
    padding-bottom 20px;
    color:#FFF;
}

/* Wraps content for about */
.wrapper {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.riskWrapper {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: #daceb8;
}


/*------------------------------*/

/* GAUGE SECTION */
#fillgauge1{
    position: absolute;
    right: 38.5%;
}

#fillgauge2{
//    position: absolute;
}

#fillgauge3{
//    position: absolute;
}

#fillgauge4{
//    position: absolute;
}

#fillgauge5{
//    position: absolute;
}

/* Container for mainGauge */
.mainGauge {
    position: relative;
    height: 120px;
}

/* Container for miniGauge */
.miniGauge {
    position: relative;
    padding: 1.5% 0 0 0;
}

.miniGauge svg {
    padding: 0 0.5% 0 4.3%;
}

/* equal signs */
.miniGauge span {
    font-size: 5vw;
    color: #413639;
    line-height: 200px;
    height: 200px;
    position: absolute;
}

#calc{ 
    width = 20%;
}

/*------------------------------*/

/* MODERATION PAGE */
.calcForm{
   padding-bottom: 3%;
}

.mod {
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    /* temporary border */
    border-top: solid 2px #413639;
    overflow: hidden;
    position: relative;
}
select {
    color: #413639;
	}

.modContainer div {
    padding-bottom: 30px;
}

.leftmod{
    height: 100%;
    width: 25%;
    background-color: #534947;
    color: white;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}
.rightmod{
    height: 100%;
    width: calc(75% + 40px);
    background-color: #daceb8;
    overflow: hidden;
    position: absolute;
    top: 0px;
    right: -20px;
}

.modTitle1 {
    padding: 25px 0 0 0;
    font-size: 25px;
    color: #413639;
}

.modTitle2 {
    padding-bottom: 2%;
    font-size: 2.5em;
    color: #413639;
}

.modTitle3 {
    padding: 30px 0 0 0;
    font-size: 25px;
    color: #413639;
}


/* Position and center align gauge descriptions */
.modContainer div {
    width: 19%;
    float: left;
    text-align: center;
    padding: 0 0.5% 0 4.3%;
    font-size: 1.5em;
}

/* Form result position */
#result {
    text-align: center;
    font-size: 2em;
    margin: 0;
    border: 2px solid #413639;
    border-radius: 4px;
    width: 60%;
    padding: 7px 35px 7px 35px;
    color: #413639;
    background: whitesmoke;
}

.innerFormRight {
    width: calc(58% - 15px);
    position: relative;
    float: right;
}

/* Form Text Field */
.innerFormRight > input,
.innerFormRight > #gender,
.innerFormRight > #hour{
    width: 95px;
    border-radius: 3px;
    border: none;
    height: 25px;
    margin-bottom: 44px;
} 

.innerFormRight > #weight{
    width: 95px;
    border-radius: 3px;
    border: none;
    height: 25px;
    margin-bottom: 108px;

}

.innerFormLeft {
    text-align: left;
    display: inline-block;
    font-size: 20px;
    padding: 0 20% 0 20%;
}

.leftContainer {
    width: calc(100% - 20px);
    height: 100%;
}

/* Form Title */
.leftContainer center {
    font-size: 1.8em;
    padding: 25px 15% 25px 15%;
    width: 70%;
}

#name {
    height: 23px;
    border-radius: 3px;
    outline: none;
    padding: 0 10px 0 10px;
    width: calc(100% - 20px);
    border: none;
}

.innerFormLeft select {
    width: 100%;
    border-radius: 3px;
    height: 24px;
}

.fieldMargin {
    padding-top: 20px;
}
.innerFieldMargin {
    padding-top: 5px;
}

.submit-btn {
    position: relative;
    top: 10px;
    width: calc(100% - 20px);
    color: white;
    font-size: 22px;
}

.submit-btn input {
    width: 70%;
    height: 50px;
    border-radius: 15px;
    background-color: #413639;
    color: white;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    border: solid 2px whitesmoke;
}

.submit-btn input:hover {
    background-color: white;
    color: #413739;
    cursor: pointer;
}

select {
    padding: 0 10px 0 7px;
    outline: none;
    border: none;
}


select:hover {
    cursor: pointer;
}
/*------------------------------*/

/* RISK PAGE */
.risk {
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}
.bubbleChart {
      min-width: 50px;
      max-width: 350px;
      height: 350px;
      margin: 0 auto;
}
.bubbleChart svg{
      background: #000;
}

#dashboard1, #dashboard2, #dashboard3 {
    border: solid #413639 2px;
    width: 960px;
    height: 50%;
    position: absolute;
    left: 5%;
    bottom: 7%;
    border-radius: 4px;
    background: whitesmoke; 
}

.riskTab {
    width: 212px;
    height: 38px;
    position: absolute;
    left: 5%;
    bottom: calc(57% + 4px);
}


.riskTitle1 {
    padding: 25px 5% 0 5%;
    font-size: 2.5em;
    color: #413639;
}

.riskTitle2 {
    padding: 1% 5% 25px 5%;
    font-size: 20px;
    color: #413639;
    position: relative;
    left: 5%;
}
	
/*------------------------------*/

/* DANGER PAGE */
.danger {
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    background: #91C9DC; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, skyblue, #91C9DC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, skyblue, #91C9DC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, skyblue, #91C9DC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, skyblue, #91C9DC); /* Standard syntax (must be last) */
    position: relative;
}

.dangerGraph {
    height: calc(100vh - 56px);
    position: absolute;
    top: 0;
    right: 0;
}

#dangerInfo {
    padding-top: 3%;
    width: 35%;
    position: absolute;
    top: 29%;
    left: 3%;
}

center > span {
    font-size: 10px;
}

.dangerTitle {
    font-size: 2.5vw;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: 200;
    width: 35%;
    position: absolute;
    top: 5%;
    left: 3%;
}

#imgPos {
    position: absolute;
    top: 24%;
    width: 35%;
    padding-left: 3%;
}

/*------------------------------*/

/* ABOUT PAGE */
.about {
    height: calc(100vh - 56px);
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/wood.png");
    overflow: hidden;
}

/* Position of about title */
.aboutTitle {
    position: relative;
    padding-top: 6%;
    font-size: 5vw;
    color: white;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: 200;
    margin: 0;
}

/* Position of second about title */
.aboutTitle2 {
    position: relative;
    font-size: 5vw;
    color: white;
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

/* Description for title*/
.aboutTag {
    font-family: 'Open Sans';
    position: relative;
    color: white;
    padding: 1% 30% 5% 30%;
    font-size: 20px;
}

/*------------------------------*/

/* HOME PAGE */
.home {
    height: 100vh;
    background-image: url("/img/grave.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/*------------------------------*/

/* Position of nav bar */
#nav-bar-pos {
    z-index: 100;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: #413639;
    margin: 0;
    padding: 0;
}

/* Position of nav bar contents */
.nav-bar {
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    width:100%;
}

/* remove default style within nav bar*/
.nav-bar li{
    list-style-type: none;
}

/* Contents within nav Bar */
.nav-bar li a {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nav padding, font style */
.nav-bar li a:link {
    text-decoration: none;
    color:#FFF;
    padding-left: 2%;
    padding-right: 2%;
}

/* Hover nav bar tab */
.nav-bar li a:hover {
    color:#413639;
    background-color: #FFF;
}

/* Position left tabs */
.left-tab {
    float: left;
    font-family: 'Cherry Swash', cursive;
    font-size: 30px;
    width: calc(21% - 20px);
    text-align: center;
}

/* Position right tabs */
.right-tab {
    float: right;
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;
}

/* Home page title */
.logoTitle {
    position: relative;
    top: 30%;
    font-size: 10vw;
    color: white;
    font-family: 'Cherry Swash', cursive;
    font-style: normal;
    font-weight: 200;
    margin: 0;
}

/* Description for title*/
.logoTag {
    font-family: 'Cherry Swash', cursive;
    position: relative;
    top: 35%;
}

.text{
display:inline-block;
}
/* Bouncing Text */
         .text { 
            -webkit-animation: bounce infinite;
	    animation: bounce infinite;
            -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s; 
            -webkit-animation-fill-mode: both; 
            animation-fill-mode: both; 
            padding: 5px 0 5px 0;
            font-size: 25px;
            color: #413639;
         }
         
         @-webkit-keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
            40% {-webkit-transform: translateY(-30px);} 
            60% {-webkit-transform: translateY(-15px);} 
         } 
         
         @keyframes bounce { 
            0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
            40% {transform: translateY(-15px);} 
            60% {transform: translateY(-8px);} 
         }
         
         .bounce { 
            -webkit-animation-name: bounce; 
            animation-name: bounce; 
         }

@media screen and (min-width: 1240px) {
  /* Risk Larger Screen Size */
  #dashboard1, #dashboard2, #dashboard3 {
    border: solid #413639 2px;
    width: 1030px;
    height: 40%;
    position: absolute;
    left: 14%;
    bottom: 7%;
    border-radius: 4px;
    background: whitesmoke; 
  }

  .riskTab {
    width: 212px;
    height: 38px;
    position: absolute;
    left: 14%;
    bottom: calc(47% + 4px);
  }

  .riskTitle2 .innerFieldMargin {
    padding-top: 20px;
  }
 
  .riskTitle1 {
    margin: 4% 5% 0 5%;
    padding: 25px 1% 25px 1%;
    font-size: 2.5em;
    color: #413639;
    border-radius: 4px;
    border: solid 2px #413639;
    background: whitesmoke;
  }

  .riskTitle2 {
    padding: 3% 10% 25px 10%;
    font-size: 25px;
    color: #413639;
    position: relative;
    left: 5%;
  }
}

@media screen and (min-width: 1240px) {
  /* Self Control Larger Screen Size */
  .modTitle1 {
    padding: 5% 0 0 0;
    font-size: 25px;
    color: #413639;
  }
  /* Form Title */
  .leftContainer center {
    font-size: 1.8em;
    padding: 20% 15% 25px 15%;
    width: 70%;
  }
  .modTitle3 {
    padding: 30px 0 30px 0;
    font-size: 25px;
    color: #413639;
  }
  /* Form result position */
  #result {
    text-align: center;
    font-size: 2em;
    margin: 0;
  }
}

@media screen and (min-width: 1240px) {
  /* Container for mainGauge */
  .mainGauge {
    position: relative;
    height: 170px;
  }

  /* Container for miniGauge */
  .miniGauge {
    position: relative;
    padding: 3% 0 0 0;
  }
}


